/* Fonts */



/* Global Style */
body {
    overflow: hidden; /* Hide horizontal scrollbar */
    background-image: url("../media/image\ 1.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-clip:unset;
}


/* Common Styles */
.contCommon {
    background-color: #B6EDFF;
    display:flex;
    
}

/* Style for search Bar container */
.searchContainerOne {
    /* float: right; */
    text-align: right;

}

/* Style for search Bar One */
.searchBarOne {

}

/* Style for search button */
.searchMag {

}

/* Style for Magnifying glass image */
.magnifique {
    width: 45.44px;
}

/* Location Styling */
.locaStyle {
    color: white;
}

/* Today Temp style 1st big box */
.itemsNow {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tempNowStyle {
    font-size: 100px;
}

.weatherWordsNowStyle {
    font-size:larger;
}

/* Icon Size Today Container */
.heartSize {
    width: 3rem;
}
.weatherNowIconStyle {

}

/* Today Weather style 2nd big box */
